####################################################################
# SERVICE CONFIGURATION
####################################################################
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8081
SERVER_TIMEZONE=Asia/Jakarta
APP_DEBUG=true
APP_NAME=oni-rest-engine-go
APP_USERNAME=oni-rest-engine-go
APP_PASSWORD=oni-rest-engine-go
APP_ENVIRONMENT=local
APP_DEFAULT_LANG=en

####################################################################
# DATABASE DRIVER
####################################################################
DB_DRIVER=mysql

####################################################################
# DATABASE CONFIGURATION
####################################################################
######################## WRITE DATABASE #############################
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_PORT=3308
DB_NAME=kaj-rest-engine-go
DB_TIMEOUT=3
DB_MAX_OPEN_CONN=15
DB_MAX_IDLE_CONN=5
DB_MAX_LIFETIME=3600
DB_CHARSET=utf8
DB_DEBUG_MODE=false
######################## READ DATABASE #############################
DB_HOST_READ=localhost
DB_USER_READ=root
DB_PASSWORD_READ=password
DB_PORT_READ=3308
DB_NAME_READ=kaj-rest-engine-go
DB_TIMEOUT_READ=3
DB_MAX_OPEN_CONN_READ=15
DB_MAX_IDLE_CONN_READ=5
DB_MAX_LIFETIME_READ=3600
DB_CHARSET_READ=utf8
DB_DEBUG_MODE_READ=false
######################## MIGRATION DATABASE #############################
DB_HOST_MIGRATION=localhost
DB_USER_MIGRATION=root
DB_PASSWORD_MIGRATION=password
DB_PORT_MIGRATION=3308
DB_NAME_MIGRATION=kaj-rest-engine-go
DB_TIMEOUT_MIGRATION=3
DB_MAX_OPEN_CONN_MIGRATION=15
DB_MAX_IDLE_CONN_MIGRATION=5
DB_MAX_LIFETIME_MIGRATION=3600
DB_CHARSET_MIGRATION=utf8

####################################################################
# CORS CONFIGURATION
####################################################################
CORS_CONTROL_ALLOW_ORIGIN=*

####################################################################
# CACHE CONFIGURATION
####################################################################
REDIS_HOST=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0


####################################################################
# LOGGER CONFIGURATION
####################################################################
LOGGER_URL=
LOGGER_LEVEL=trace

OAUTH_URL=http://localhost:8081
OAUTH_API_KEY=
OAUTH_API_SECRET=""
OAUTH_KEY_PATH=tmp

####################################################################
# GCP CONFIGURATION
####################################################################
GOOGLE_BUCKET=testing
GOOGLE_PROJECT_ID=
GOOGLE_PRIVATE_KEY_ID=
GOOGLE_PRIVATE_KEY=""
GOOGLE_CLIENT_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_CERT_URL=
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_AUTH_PROVIDER=https://www.googleapis.com/oauth2/v1/certs
SUBSCRIBER_TOPIC=


###### KAFKA GENERAL CONFIG ######
KAFKA_BROKERS=localhost:9092
KAFKA_VERSION=
KAFKA_CLIENT_ID=oni-rest-engine-go
KAFKA_TLS_ENABLE=
KAFKA_CA_FILE=
KAFKA_CERT_FILE=
KAFKA_KEY_FILE=
KAFKA_SKIP_VERIFY=true
KAFKA_SASL_ENABLE=false
KAFKA_MECHANISME=PLAIN
KAFKA_USER=
KAFKA_PASSWORD=
KAFKA_SASL_VERSION=1
KAFKA_HANDSHAKE=true
KAFKA_DEBUG_REPORT=true

###### KAFKA PRODUCER CONFIG ######
KAFKA_PRODUCER_TIMEOUT_SECOND=5
KAFKA_PRODUCER_PARTITION_STRATEGY=hash

###### KAFKA CONSUMER CONFIG ######
KAFKA_CONSUMER_REBALANCE_STRATEGY=range
KAFKA_CONSUMER_SESSION_TIMEOUT_SECOND=8
KAFKA_CONSUMER_HEARTBEAT_INTERVAL_MS=1000
KAFKA_CONSUMER_OFFSET_INITIAL=-1
KAFKA_CONSUMER_AUTO_COMMIT=true
KAFKA_CONSUMER_ISOLATION_LEVEL=1